= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-vertical", :id => "loginform" } ) do |f|
  %p
    Enter email and password to continue
  .control-group
    .controls
      .input-prepend
        %span.add-on
          %i.icon-envelope
        = f.email_field :email, :autofocus => true, :placeholder => 'Email'
  .control-group
    .controls
      .input-prepend
        %span.add-on
          %i.icon-lock
        = f.password_field :password, :placeholder => 'Password'
  .form-actions
    %span.pull-left
      - if devise_mapping.recoverable? && controller_name != 'passwords'
        = link_to "Forgot your password?", "#", :class => "flip-link", :id => "to-recover"
    %span.pull-right
      = f.submit "Sign in", :class => 'btn btn-inverse'
= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-vertical", :id => "recoverform" } ) do |f|
  %p
    Enter your e-mail address below and we will send you instructions how to recover a password
  .control-group
    .controls 
      .input-prepend
        %span.add-on
          %i.icon-envelope
        = f.email_field :email, :autofocus => true, :placeholder => 'Email'
  .form-actions
    %i.pull-left
      = link_to "< Back to login", "#", :class => "flip-link", :id => "to-login"
    %i.pull-right
      = f.submit "Recover", :class => 'btn btn-inverse'