!!!
%html
  %head{:lang => "en"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Capsuleer"
      %meta{:content => content_for?(:description) ? yield(:description) : "Capsuleer", :name => "description"}
        = stylesheet_link_tag "bootstrap.min", :media => "all"
        = stylesheet_link_tag "bootstrap-responsive.min", :media => "all"
        = stylesheet_link_tag "unicorn.login", :media => "all"
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = javascript_include_tag "unicorn.login"
        = csrf_meta_tags
  %body
    #logo
      = image_tag "logo.png"
    = render 'layouts/messages'
    #loginbox
      = yield